<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="LogFile" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/webapp/webapp.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <prettyPrint>true</prettyPrint>
            <providers>
                <pattern>
                    <pattern>
                        {
                        "time": "%date{%Y-%m-%dT%H:%M:%S.%L%Z}",
                        "severity": "%level",
                        "file": "%file",
                        "line": "%line",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
                <fieldNames>
                    <levelFieldName>severity</levelFieldName>
                </fieldNames>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LogFile"/>
    </root>
</configuration>