<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="LogFile" type="File" fileName="/tmp/webapp.log">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "time": "%date{yyyy-MM-dd'T'HH:mm:ss.SSSSSSXXX}",
                        "severity": "%level",
                        "file": "%file",
                        "line": "%line",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="LogFile"/>
    </root>
</configuration>