[Unit]
Description=webapp application
ConditionPathExists=/opt/webapp/application.properties
After=cloud-init.service network.target

[Service]
User=csye6225
Group=csye6225
ExecStart=/opt/webapp/webapp.jar
SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target